
@{
    ViewData["Title"] = "Index";
}

<h1>Informacion sobre trastornos</h1>

<h2>Depresion</h2>
<p>
    Durante un episodio depresivo, una persona experimenta un estado de ánimo deprimido
    (tristeza, irritabilidad, vacío) y pérdida del disfrute o interés en actividades casi todos los días.
</p>

<h2>Ansiedad</h2>
<p>
    Los trastornos de ansiedad son los trastornos más comúnmente diagnosticados en todo el país. se caracteriza
    por miedo, preocupación y estrés excesivos en situaciones emocionales extremas
</p>

<h2>Desorden alimenticio</h2>
<p>
    en realidad se trata de enfermedades graves y en ocasiones mortales que provocan cambios extremadamente perjudiciales en los hábitos
    alimentarios de una persona.
</p>

<h2>Anorexia</h2>
<p>La anorexia nerviosa tiene la tasa de mortalidad más alta de todas las enfermedades mentales.</p>

<h2>Bulimia</h2>
<p>
    Las personas con bulimia nerviosa a menudo tienen episodios recurrentes de comer cantidades anormalmente grandes de alimentos y se sienten
    incapaces de controlar estos episodios.
</p>

