
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Cuida tu salud mental Guatemala!</h1>

    <img src="../Images/Necesidad3.jpg" alt="Tercera Necesidad" height=100 width=200 />
    <a href="@Url.Action("Index", "PrimerNecesidad")"><h2>Transtornos más comúnes</h2></a>
    <img src="../Images/Necesidad3.jpg" alt="Tercera Necesidad" height=100 width=200 />
    <a href="@Url.Action("Index", "SegundaNecesidad")"><h2>Consejos para mejorar la salud mental</h2></a>
    <img src="../Images/Necesidad3.jpg" alt="Tercera Necesidad" height=100 width=200 />
    <a href="@Url.Action("Index", "TerceraNecesidad")"><h2>Organizaciones de apoyo</h2></a>

</div>
